<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PictoBot: Vision & Language</title>
    <link rel="stylesheet" href="/static/style1.css">
</head>
<body>
    <div class="intro-container">
        <h1>PictoBot: Combining Vision and Language for Image-Based Conversations</h1>
        <h4>Group Number: 21 UG 169</h4>
        <h3>A Project by:</h3>
        <ul>
            <li>BL.EN.U4AIE21021 – B. Akhileswar Reddy</li>
            <li>BL.EN.U4AIE21054 – G.Someswara Reddy</li>
            <li>BL.EN.U4AIE21069 – Kollepara Lokesh</li>
            <li>BL.EN.U4AIE21091 – Nara Sumanth Reddy</li>
        </ul>
        
        <form action="/chat" method="get">
            <button type="submit" class="start-chat-btn">Start Chat</button>
        </form>
    </div>
</body>
</html>
